<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <style>
      .w3-roboto {
          font-family: 'Roboto Mono', serif;
      }
    </style>

    <title>residents.space</title>
  </head>
  <body class="w3-white">
    <header class="w3-container w3-theme-light" style="padding: 0;" id="myHeader">
      <div class="w3-center">
        <h4>RESIDENTS.SPACE</h4>
        <h1 class="w3-xxxlarge  w3-roboto">Olszewskiego 154</h1>
      </div>
    </header>

    <div class="w3-container">
      {% block content%}
      {% endblock %}
    </div>

    <footer class="w3-container w3-theme-l5 w3-padding-16">
      <div class="w3-content">
        <span class="annotation">This site was created in pure HTML and therefore is so pretty.</span><br>
        <span class="annotation">The page was updated on: 01.07.2020 r</span>
        <p>Powered by <a href="http://olszewskiego.space/">Olszewskiego 154</a></p>
      </div>
    </footer>

  </body>
</html>