{% extends 'base.html' %}

{% block content %}
    <div class="w3-content">
      <br>
      <h3 class="w3-roboto" style="margin-bottom: 2px;">Lorem Ipsum</h3>
      <p>
        Sunt recusandae similique voluptate quia et dolores. Cupiditate mollitia quam et ut ipsum. Ab magni illo
        tenetur temporibus adipisci nobis ipsa nisi. Nihil exercitationem recusandae quos eligendi voluptas
        laudantium. Inventore iure inventore nihil veritatis illum exercitationem aspernatur esse. Suscipit
        consectetur omnis totam distinctio fugiat voluptas.
      </p>

      <br>
      <h3 class="w3-roboto" style="margin-bottom: 2px;">Registration</h3>
      <p>
        To subscribe to event notifications, <a href="/register">register here</a>.
      </p>

    </div>
{% endblock %}
