{% extends 'base.html' %}

{% block content %}
  <div class="w3-content">
    <br>
    <h3 class="w3-roboto" style="margin-bottom: 2px;">Registration</h3>

    <form method="post">
      <label for="first_name">First name:</label>
      <input name="first_name" id="first_name" required><br>
      <label for="last_name">Last name:</label>
      <input name="last_name" id="last_name" required><br>
      <label for="phone_number">Phone number: (+48)</label>
      <input name="phone_number" id="phone_number" required><br>
      <label for="mail_address">Mail address:</label>
      <input name="mail_address" id="mail_address"><br>
      <input type="submit" value="Register">
    </form>
{% endblock %}